name: sow
channels:
  - defaults
dependencies:
  - bs4
  - loguru
  - requests
  - lxml
  - chardet
  - openpyxl
  - pandas
  - tabulate
  - yaml
  - regex
  - ruamel.yaml
  - openai
  - python-dotenv
  - gitpython
prefix: /home/elpsy/tools/miniconda3/envs/sow
